@import '../../components/App/App';
@import '../../components/Home/Home';

@font-face {
  font-family: 'Andara';
  src: local('Andara'), url(../fonts/andara-script-demo.ttf) format('truetype');
}

#root,
html,
body {
  height: 100%;
}

body {
  margin: 0;
  color: #ffffff;
}
